<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.wwwfit.model.dao.BookmarkDao">
<parameterMap type="Map" id="selectMarksMap">
<parameter property="userNo" javaType="int"/>
<parameter property="bname" javaType="string"/>
</parameterMap>
<select id="selectAll" parameterType="int" resultType="Bookmark">
select * from bookmarks
where userNo=#{userNo}
</select>
<select id="selectOne" parameterType="int" resultType="Bookmark">
select * from bookmarks
where bookmarkId=#{bookmarkId}
</select>
<select id="selectMarks" parameterMap="selectMarksMap">
select * from bookmarks
where userNo=#{userNo} and bname=#{bname}
</select>
<select id="folders" parameterType="string" resultType="string">
select distinct bname from bookmarks
where userNo=#{userNo}
</select>

<update id="update" parameterType="Bookmark">
update bookmarks
set bname=#{bname},
isPublic=#{isPublic}
where bookmarkId=#{bookmarkId}
</update>

<insert id="insert" parameterType="Bookmark">
insert into bookmarks
(userNo, posterSeq,bname)
values
(#{userNo},#{posterSeq},#{bname})
</insert>
<delete id="delete" parameterType="int">
delete from bookmarks where bookmarkId=#{bookmarkId}
</delete>


</mapper>