<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.wwwfit.model.dao.CalendarDao">

<parameterMap type="Map" id="selectday">
<parameter property="userNo" javaType="int"/>
<parameter property="calendarStart" javaType="string"/>
</parameterMap>

  
<select id="getCalendar" resultType="Calendar" parameterType="int">
   SELECT calendarId, userNo, challenge, fitPartName, date_format(calendarStart, '%Y-%m-%d') as calendarStart
   From calendars
   WHERE userNo = #{userNo};
</select>

<insert id="createcalendar" parameterType="Calendar" keyProperty="calendarId" useGeneratedKeys="true" >
   INSERT INTO calendars (userNo, challenge, fitPartName,calendarStart) 
   VALUES ( #{userNo}, TRUE, #{fitPartName}, NOW());
</insert>

<delete id="deletecalendar" parameterType="int">
    DELETE FROM calendars
    WHERE calendarId = #{calendarId}
</delete>

<select id="getCalendarDay" parameterMap="selectday" resultType="String">
   SELECT date_format(calendarStart, '%Y-%m-%d') as calendarStart
   From calendars
   WHERE userNo = #{userNo} and DATE_FORMAT(calendarStart, '%Y-%m-%d') = DATE_FORMAT(#{calendarStart}, '%Y-%m-%d');
</select>

<select id="gettoday" parameterType="int" resultType="String">
   SELECT date_format(calendarStart, '%Y-%m-%d') as calendarStart
   From calendars
   WHERE calendarId = #{calendarId};
</select>

<!-- 사실 위에 getCalendarDay이용해두댐 -->
<select id="gettodaychallenge" parameterMap="selectday" resultType="int">
   SELECT COUNT(*)
   From calendars
   WHERE userNo = #{userNo} and DATE_FORMAT(calendarStart, '%Y-%m-%d') = DATE_FORMAT(#{calendarStart}, '%Y-%m-%d');
</select>

</mapper>