<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.wwwfit.model.dao.FollowDao">

<select id="selectFollows" parameterType="int" resultType="Follow">
select * from follow
where userNo=#{userNo}
</select>
<select id="selectFollowers" parameterType="int" resultType="Follow">
select * from follow
where followsWho=#{userNo}
</select>
<select id="selectOne" parameterType="int" resultType="Follow">
select * from follow 
where followId = #{followId}
</select>
<select id="isfollowing" parameterType="int" resultType="int">
select count(followId) from follow
where userNo=#{userNo} and followsWho=#{toFollow}
</select>

<insert id="insert" parameterType="Follow">
insert into follow
(userNo,followsWho)
values
(#{userNo},#{followsWho})
</insert>

<delete id="delete" parameterType="int">
delete from follow
where followId=#{followId}
</delete>

</mapper>